@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #635fc7;
  --color-primary-light: #736fcd;
  --color-bg-light: #efeff9;
  --color-subtitle: #828fa3;
  --color-red: #ea5555;
  --color-input: #141328;
}

.light-mode {
  --color-title: #000;
  --color-bg-1: #fff;
  --color-bg-2: #f4f7fd;
  --color-bg-3: #e0dff4;
  --color-bg-4: #efeff9;
}

.dark-mode {
  --color-title: #fff;
  --color-bg-1: #2b2c37;
  --color-bg-2: #20212c;
  --color-bg-3: #2b2c37;
  --color-bg-4: #20212c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  color: var(--color-title);
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100dvh;
  position: relative;

  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  flex: 1;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* NAVBAR */

.navbar {
  background-color: var(--color-bg-1);
  padding: 1rem;

  display: flex;
}

.navbar .nav-logo-container {
  width: 15%;
  padding: 1rem;

  display: flex;
  align-items: center;
}

.navbar .nav-items {
  padding: 1rem 4rem;
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-items .nav-board {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar .nav-items .nav-board img {
  display: none;
}

.navbar .nav-items .nav-board div {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.9rem;
  transition: all 0.3s;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar .nav-items .nav-board div img {
  height: 1rem;
}

.navbar .nav-items .nav-board-name {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0.4rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .nav-items .nav-btns {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-btns .btn-add-task {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-btns .btn-add-task:hover {
  background-color: var(--color-primary-light);
}

.nav-btns .btn-context-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* BOARD */
.section-board {
  height: 100%;
  display: flex;
}

.container-aside {
  width: 26rem;
  padding-top: 2rem;
  background-color: var(--color-bg-1);

  display: flex;
  flex-direction: column;
}

.container-aside .aside-boards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside-boards .aside-boards-count {
  text-transform: uppercase;
  color: var(--color-subtitle);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.aside-boards-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.aside-boards-list li {
  font-weight: 700;
  color: var(--color-subtitle);
  text-transform: capitalize;
  padding: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  gap: 1rem;
}

.aside-boards-list li .aside-board-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aside-boards-list li:hover {
  background-color: var(--color-bg-light);
}

.aside-boards-list li:hover .aside-board-name {
  color: var(--color-primary-light);
}

.aside-boards-list li.active-board {
  background-color: var(--color-primary-light);
  color: #fff;
}

.aside-boards-list li.active-board:hover {
  background-color: var(--color-bg-light);
  color: var(--color-primary-light);
}

.aside-boards-list ul span img {
  height: 100%;
}

.aside-add-board {
  font-weight: 700;
  color: var(--color-primary-light);
  text-transform: capitalize;
  padding: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.aside-add-board:hover {
  background-color: var(--color-bg-light);
}

.aside-add-board span img {
  height: 100%;
  accent-color: var(--color-primary-light);
}

.aside-toggles {
  margin-top: auto;
  margin-bottom: 8rem;
  padding: 0rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside-toggle-hide {
  padding: 1.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.aside-toggle-hide:hover {
  background-color: var(--color-bg-light);
}

.aside-toggle-hide:hover p {
  color: var(--color-primary-light);
}

.aside-toggle-hide p {
  color: var(--color-title);
  letter-spacing: 1px;
  font-weight: 600;
}

.aside-show-sidebar {
  position: absolute;
  left: 0;
  bottom: 8rem;
  padding: 1.4rem 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: var(--color-primary);
  transition: all 0.3s;
  cursor: pointer;
}

.aside-show-sidebar:hover {
  background-color: var(--color-primary-light);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* BOARD CONTAINER */

.container-board {
  flex: 1;
  padding: 2rem;
  background-color: var(--color-bg-2);
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  display: flex;
  gap: 4rem;
}

.container-board::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.container-board::-webkit-scrollbar-thumb {
  background-color: var(--color-subtitle);
}

.task-column {
  min-width: 28rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.task-column-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-column-heading {
  text-transform: uppercase;
  color: var(--color-subtitle);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.task-column-deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  visibility: hidden;
  transition: all 0.2s;
  height: 2rem;
  width: 2rem;
}

.task-column:hover .task-column-deleteBtn {
  visibility: visible;
}

.task-column-deleteBtn svg {
  height: 100%;
  width: 100%;
  color: var(--color-red);
}

.task-column-list {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.task-column-list-item {
  padding: 2rem;
  background-color: var(--color-bg-1);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(54, 78, 126, 0.102);
  transition: all 0.3s;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-column-list-item p:first-child {
  font-size: 1.7rem;
  font-weight: 600;
}

.task-column-list-item p:last-child {
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-subtitle);
}

.task-column-list-item:hover p:first-child {
  color: var(--color-primary-light);
}

.add-new-column {
  background-color: var(--color-bg-3);
  border-radius: 6px;
  cursor: pointer;

  justify-content: center;
  gap: 0;
}

.add-new-column p {
  text-align: center;
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-subtitle);
  transition: all 0.3s;
}

.add-new-column:hover p {
  color: var(--color-primary-light);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* ADD NEW COLUMN FORM */

.new-board-col-form {
  width: 40rem;
  background-color: var(--color-bg-1);
  padding: 2rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-board-col-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-board-col-input label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-subtitle);
}

.new-board-col-input input {
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--color-input);
}

.new-board-col-input input:focus {
  outline: 1px solid var(--color-primary-light);
}

.new-board-col-input input::placeholder {
  color: #ccc;
  letter-spacing: 1px;
}

.new-board-col-input p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-red);
}

.new-board-col-form button {
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.3s;
}

.new-board-col-form button:hover {
  background-color: var(--color-primary-light);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* MODAL DROPDOWN MENU */

.modal-dropdown {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dropdown-container {
  background-color: var(--color-bg-1);
  width: 70%;
  border-radius: 6px;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-right: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dropdown-board-count {
  text-transform: uppercase;
  color: var(--color-subtitle);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.dropdown-board-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dropdown-board-list li {
  font-weight: 700;
  color: var(--color-subtitle);
  text-transform: capitalize;
  padding: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  gap: 1rem;
}

.dropdown-board-list li:hover {
  background-color: var(--color-bg-light);
}

.dropdown-board-list li .dropdown-board-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-board-list li:hover .dropdown-board-name {
  color: var(--color-primary-light);
}

.dropdown-board-list li.active-board {
  background-color: var(--color-primary-light);
  color: #fff;
}

.dropdown-board-list li.active-board:hover {
  background-color: var(--color-bg-light);
  color: var(--color-primary-light);
}

.dropdown-board-list ul span img {
  height: 100%;
}

.dropdown-add-board {
  font-weight: 700;
  color: var(--color-primary-light);
  text-transform: capitalize;
  padding: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: -1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-add-board:hover {
  background-color: var(--color-bg-light);
}

.dropdown-add-board span img {
  height: 100%;
  accent-color: var(--color-primary-light);
}

.dropdown-toggle {
  padding: 2rem;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* CREATE BOARD FORM */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.create-board-form {
  background-color: var(--color-bg-1);
  width: 50rem;
  padding: 4rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.board-form-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-title);
}

.board-form-name {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.board-form-columns {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.column-list {
  max-height: 20rem;
  padding: 0.1rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.column-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.column-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.column-item-input {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.column-item-input input {
  flex: 1;
}

.column-item-input button {
  padding: 1rem;
  border: none;
  background-color: var(--color-bg-1);
  cursor: pointer;
}

.column-item-input input,
.board-form-name input {
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--color-input);
  font-family: inherit;
}

.board-form-columns label,
.board-form-name label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-subtitle);
}

.column-item-input input:focus,
.board-form-name input:focus {
  outline: 1px solid var(--color-primary-light);
}

.column-item-input input::placeholder,
.board-form-name input::placeholder {
  color: #ccc;
  letter-spacing: 1px;
}

.board-form-error {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-red);
  margin-top: 0.4rem;
}

.board-input-error {
  outline: 1px solid var(--color-red);
}

.board-input-error:focus {
  outline: 1px solid var(--color-red) !important;
}

.board-form-btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.board-form-submit,
.board-form-append {
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.3s;
}

.board-form-submit:hover,
.board-form-append:hover {
  background-color: var(--color-primary-light);
}

.margin-top {
  margin-top: 1rem !important;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* CONTEXT MENU */

.taskinfo-context-menu,
.navbar-context-menu {
  background-color: var(--color-bg-1);
  position: absolute;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: hidden;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.taskinfo-context-item,
.navbar-context-item {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1.4rem 2rem;

  cursor: pointer;
  color: var(--color-title);
}

.taskinfo-context-item:hover,
.navbar-context-item:hover {
  background-color: var(--color-bg-light);
  color: var(--color-input);
}

.taskinfo-context-item:last-child,
.navbar-context-item:last-child {
  color: var(--color-red);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* BOARD NAME UPDATE FORM */
.boardName-update-form {
  background-color: var(--color-bg-1);
  padding: 2rem;
  width: 40rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.boardName-update-form label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-subtitle);
}

.boardName-update-form .boardName-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boardName-input-container input {
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--color-input);
}

.boardName-input-container input:focus {
  outline: 1px solid var(--color-primary-light);
}

.boardName-input-container input::placeholder {
  color: #ccc;
  letter-spacing: 1px;
}

.boardName-input-container p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-red);
}

.boardName-input-error {
  outline: 1px solid var(--color-red);
}

.boardName-input-error:focus {
  outline: 1px solid var(--color-red) !important;
}

.boardName-update-form button {
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.3s;
}

.boardName-update-form button:hover {
  background-color: var(--color-primary-light);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* BOARD DELETE FORM */

.taskinfo-delete-container,
.boardCol-delete-container,
.boardDelete-form-container {
  background-color: var(--color-bg-1);
  width: 50rem;
  padding: 2rem 4rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.taskinfo-delete-container p,
.boardCol-delete-container p,
.boardDelete-form-container p {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.6;
  color: var(--color-title);
}

.taskinfo-delete-btns,
.boardCol-delete-btns,
.boardDelete-btns {
  align-self: center;

  display: flex;
  gap: 4rem;
}

.taskinfo-delete-btns button,
.boardCol-delete-btns button,
.boardDelete-btns button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.taskinfo-delete-btns button:first-child,
.boardCol-delete-btns button:first-child,
.boardDelete-btns button:first-child {
  background-color: var(--color-red);
  color: #fff;
}

.taskinfo-delete-btns button:first-child:hover,
.boardCol-delete-btns button:first-child:hover,
.boardDelete-btns button:first-child:hover {
  background-color: #ec6666;
}

.taskinfo-delete-btns button:last-child,
.boardCol-delete-btns button:last-child,
.boardDelete-btns button:last-child {
  border: 1px solid #ddd;
  background-color: var(--color-bg-1);
  color: var(--color-title);
}

.taskinfo-delete-btns button:last-child:hover,
.boardCol-delete-btns button:last-child:hover,
.boardDelete-btns button:last-child:hover {
  background-color: #eee;
  color: var(--color-input);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* TASK ADD FORM */

.taskaddform-container {
  background-color: var(--color-bg-1);
  overflow-y: auto;
  max-height: 95%;
  padding: 4rem 3rem;
  width: 50rem;
  border-radius: 6px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.taskaddform-container::-webkit-scrollbar {
  /* WebKit */
  width: 5px;
  background-color: var(--color-bg-1);
}

.taskaddform-container::-webkit-scrollbar-thumb {
  background-color: var(--color-subtitle);
}

.task-add-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.task-form-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-title);
}

.task-form-description textarea {
  min-width: 100%;
  max-width: 100%;
}

.task-form-currentStatus,
.task-form-description,
.task-form-name {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.task-form-currentStatus label,
.task-form-subtasks label,
.task-form-description label,
.task-form-name label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-subtitle);
}

.task-form-currentStatus select,
.subtask-item-input input,
.task-form-description textarea,
.task-form-name input {
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--color-input);
  font-family: inherit;
}

.task-form-currentStatus select option {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

.task-form-currentStatus select:focus,
.subtask-item-input input:focus,
.task-form-description textarea:focus,
.task-form-name input:focus {
  outline: 1px solid var(--color-primary-light);
}

.subtask-item-input input::placeholder,
.task-form-description textarea::placeholder,
.task-form-name input::placeholder {
  color: #ccc;
  letter-spacing: 1px;
}

.task-form-error {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-red);
  margin-top: 0.4rem;
}

.task-form-subtasks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.subtask-list {
  max-height: 20rem;
  padding: 0.1rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.subtask-list::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.subtask-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.subtask-item-input {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.subtask-item-input input {
  flex: 1;
}

.subtask-item-input button {
  padding: 1rem;
  border: none;
  background-color: var(--color-bg-1);
  cursor: pointer;
}

.task-form-submit,
.task-form-append {
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.3s;
}

.task-form-submit:hover,
.task-form-append:hover {
  background-color: var(--color-primary-light);
}

.margin-bottom {
  margin-bottom: 1rem !important;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* TASK INFO WINDOW*/
.taskinfo-container {
  background-color: var(--color-bg-1);
  padding: 2rem;
  width: 50rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.taskinfo-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskinfo-taskName {
  font-size: 2rem;
  color: var(--color-title);
  font-weight: 700;
}

.taskinfo-contextMenu-icon {
  cursor: pointer;
}

.taskinfo-context-menu {
  position: absolute;
}

.taskinfo-description {
  font-size: 1.4rem;
  color: var(--color-subtitle);
}

.taskinfo-currentStatus {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.taskinfo-subtasks p,
.taskinfo-currentStatus label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-subtitle);
}

.taskinfo-currentStatus select {
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--color-input);
  font-family: inherit;
}

.taskinfo-currentStatus select option {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

.taskinfo-currentStatus select:focus {
  outline: 1px solid var(--color-primary-light);
}

.checked {
  text-decoration: line-through;
}

.taskinfo-subtasks-list {
  max-height: 20rem;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.taskinfo-subtasks-list::-webkit-scrollbar {
  width: 5px;
}

.taskinfo-subtasks-list::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-light);
}

.taskinfo-subtasks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.taskinfo-subtasks p {
  letter-spacing: 1px;
}

.taskinfo-subtasks-item {
  background-color: var(--color-bg-4);
  padding: 1rem;
  border-radius: 6px;

  display: flex;
  gap: 1rem;
}

.taskinfo-subtasks-item label {
  font-size: 1.4rem;
  font-weight: 700;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* NO BOARDS CONTAINER */
.no-boards-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.no-boards-container p:first-child {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 8rem;
}

.no-boards-container p:last-child {
  font-size: 2rem;
  letter-spacing: -0.1px;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* PAGE NOT FOUND */
.page-not-found-container {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.page-not-found-container p {
  font-size: 6.2rem;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.page-not-found-container button {
  display: inline-block;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.page-not-found-container button:hover {
  border-bottom: 1px solid #000;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* DARK MODE TOGGLE */
.aside-toggle-darkmode {
  background-color: var(--color-bg-2);
  padding: 1.4rem 1rem;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.8rem;
  bottom: 0.5rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(3rem);
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* RESPONSIVE */

/* 2xl */
/* @media (max-width: 1536px) {
 
} */

/* xl */
@media (max-width: 1280px) {
  .navbar .nav-logo-container {
    width: 20%;
  }

  .navbar .nav-logo-container img {
    width: 70%;
  }

  .navbar .nav-items {
    padding: 1rem 2rem;
    width: 80%;
  }

  .navbar .nav-items .nav-board {
    width: 60%;
  }
  .navbar .nav-items .nav-board div {
    width: fit-content;
  }

  .navbar .nav-items .nav-board-name {
    font-size: 2rem;
  }

  .container-aside {
    width: 24rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .navbar .nav-logo-container {
    display: none;
  }

  .navbar .nav-items {
    width: 100%;
  }

  .navbar .nav-items .nav-board {
    width: 40%;
  }

  .navbar .nav-items .nav-board-name {
    font-size: 2rem;
  }

  .nav-btns .btn-add-task {
    font-size: 1.4rem;
  }

  .navbar .nav-items .nav-board img {
    display: block;
  }

  .container-aside {
    display: none;
  }

  .aside-show-sidebar {
    display: none;
  }

  .modal-dropdown {
    visibility: unset;
  }
}

/* md */
@media (max-width: 768px) {
  .navbar .nav-items {
    width: 100%;
    padding: 1rem 0rem;
  }

  .navbar .nav-items .nav-board div {
    width: 100%;
  }

  .navbar .nav-items .nav-board-name {
    font-weight: 700;
    font-size: 2.4rem;
  }

  .navbar .nav-items .nav-btns {
    gap: 2rem;
  }

  .nav-btns .btn-add-task {
    padding: 0.6rem 1.8rem;
  }

  .nav-btns .btn-add-task span:nth-child(2) {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
  .taskaddform-container {
    width: 45rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .navbar .nav-items .nav-board-name {
    font-size: 1.8rem;
  }

  .navbar .nav-items .nav-btns {
    gap: 1rem;
  }

  .taskaddform-container {
    max-height: 85%;
    width: 35rem;
  }

  .taskinfo-container {
    width: 38rem;
  }

  .taskinfo-delete-container,
  .boardCol-delete-container,
  .boardDelete-form-container {
    width: 40rem;
  }

  .taskinfo-delete-container p,
  .boardCol-delete-container p,
  .boardDelete-form-container p {
    font-size: 1.6rem;
  }

  .boardDelete-btns button {
    font-size: 1.4rem;
  }

  .dropdown-container {
    width: 80%;
  }
}
