@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #635fc7;
  --color-primary-light: #736fcd;
  --color-primary-light-2: #e0dff4;

  --color-secondary: #141328;
  --color-secondary-2: #828fa3;
  --color-secondary-3: #efeff9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100dvh;
  position: relative;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* NAVBAR */

.navbar {
  background-color: #fff;
  padding: 1rem;

  display: flex;
}

.navbar .nav-logo-container {
  width: 15%;
  padding: 1rem;

  display: flex;
  align-items: center;
}

.navbar .nav-items {
  padding: 1rem 4rem;
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-items .nav-board {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar .nav-items .nav-board img {
  display: none;
}

.navbar .nav-items .nav-board div {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.9rem;
  transition: all 0.3s;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar .nav-items .nav-board div:hover {
  background-color: #e0dff4;
}

.navbar .nav-items .nav-board div img {
  height: 1rem;
}

.navbar .nav-items .nav-board-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-secondary);
  padding: 0.4rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .nav-items .nav-btns {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-btns .btn-add-task {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-btns .btn-add-task:hover {
  background-color: var(--color-primary-light);
}

.nav-btns .btn-context-menu {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* BOARD */
.section-board {
  height: 100%;
  display: flex;
}

.container-aside {
  width: 16%;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
}

.container-aside .aside-boards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside-boards .aside-boards-count {
  text-transform: uppercase;
  color: var(--color-secondary-2);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.aside-boards-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.aside-boards-list li {
  font-weight: 700;
  color: var(--color-secondary-2);
  text-transform: capitalize;
  padding: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.aside-boards-list li:hover {
  background-color: var(--color-secondary-3);
}

.aside-boards-list li:hover .aside-board-name {
  color: var(--color-primary-light);
}

.aside-boards-list li.active-board {
  background-color: var(--color-primary-light);
  color: #fff;
}

.aside-boards-list li.active-board:hover {
  background-color: var(--color-secondary-3);
  color: var(--color-primary-light);
}

.aside-boards-list ul span img {
  height: 100%;
}

.aside-add-board {
  font-weight: 700;
  color: var(--color-primary-light);
  text-transform: capitalize;
  padding: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.aside-add-board:hover {
  background-color: var(--color-secondary-3);
}

.aside-add-board span img {
  height: 100%;
  accent-color: var(--color-primary-light);
}

.aside-toggles {
  margin-top: auto;
  margin-bottom: 8rem;
}

.container-board {
  flex: 1;
  padding: 1rem 2rem;
  background-color: var(--color-secondary-3);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* CREATE BOARD FORM */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.2rem);

  display: flex;
  justify-content: center;
  align-items: center;
}

.create-board-form {
  background-color: #fff;
  width: 50rem;
  padding: 4rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.board-form-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.board-form-name {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.board-form-columns {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.column-list {
  padding: 0.1rem;
  max-height: 15rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.column-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.column-list div div {
  width: 100%;
}

.board-form-columns label,
.board-form-name label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-secondary-2);
}

.board-form-columns div input,
.board-form-name input {
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: var(--color-secondary);
}

.board-form-columns div input:focus,
.board-form-name input:focus {
  outline: 1px solid var(--color-primary-light);
}

.board-form-columns div input::placeholder,
.board-form-name input::placeholder {
  color: #ccc;
  letter-spacing: 1px;
}

.board-form-columns div div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.board-form-columns div input {
  flex: 1;
}

.margin-top {
  margin-top: 1rem !important;
}

.board-form-columns div button {
  padding: 1rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.board-form-columns div button img {
  height: 100%;
}

.board-form-btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.board-form-submit,
.board-form-append {
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.3s;
}

.board-form-submit:hover,
.board-form-append:hover {
  background-color: var(--color-primary-light);
}

.board-form-error {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ea5555;
  margin-top: 0.4rem;
}

.board-input-error {
  outline: 1px solid #ea5555;
}

.board-input-error:focus {
  outline: 1px solid #ea5555 !important;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* RESPONSIVE */

/* 2xl */
@media (max-width: 1536px) {
  /* .container {
    max-width: 1280px;
  } */
}

/* xl */
@media (max-width: 1280px) {
  .navbar .nav-logo-container {
    width: 20%;
  }

  .navbar .nav-logo-container img {
    width: 70%;
  }

  .navbar .nav-items {
    padding: 1rem 2rem;
    width: 80%;
  }

  .navbar .nav-items .nav-board {
    width: 60%;
  }
  .navbar .nav-items .nav-board div {
    width: 100%;
  }

  .navbar .nav-items .nav-board-name {
    font-size: 2rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .navbar .nav-items .nav-board {
    width: 50%;
  }
  .navbar .nav-items .nav-board div {
    width: 100%;
  }

  .navbar .nav-items .nav-board-name {
    font-size: 2rem;
  }

  .nav-btns .btn-add-task {
    font-size: 1.4rem;
  }
}

/* md */
@media (max-width: 768px) {
  .navbar .nav-logo-container {
    display: none;
  }

  .navbar .nav-items .nav-board img {
    display: block;
  }

  .navbar .nav-items {
    width: 100%;
    padding: 1rem 0rem;
  }

  .navbar .nav-items .nav-board-name {
    font-weight: 700;
    font-size: 2.4rem;
  }

  .navbar .nav-items .nav-btns {
    gap: 2rem;
  }

  .nav-btns .btn-add-task {
    padding: 0.6rem 1.8rem;
  }

  .nav-btns .btn-add-task span:nth-child(2) {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
  /* .container {
    max-width: 475px;
  } */
}

/* xs */
@media (max-width: 475px) {
  .navbar .nav-items .nav-board-name {
    font-size: 1.8rem;
  }

  .navbar .nav-items .nav-btns {
    gap: 1rem;
  }
}
